// 寻找i标签class属性icon的标签
i[class^=icon] {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 0 0;
}

// 图标尺寸
.icon-size-21 {
    width: 21px;
    height: 21px;
}

.icon-size-30 {
    width: 30px;
    height: 30px;
}

// 偏移
.mb--5 {
    margin-bottom: -5px;
}

// 图标
.icon-aside-home {
    background-image: url("~@/assets/icon/04.png");
}